a:hover {
    cursor: pointer;
}

a {
    text-decoration: none;
}

.popup {
    position: fixed;
}

.hidden {
    display: none;
}

.chat-messages {
    max-height: 30em;
    overflow-y: scroll;
}
.state-win p {
    text-align: center;
    font-size: 80px;
}
.state-win a {
    font-size: 35px;
    font-family: 'Lakki Reddy', cursive;
}
.state-win .radius {
    border: 1px solid black;
    padding: 15px;
    border-radius: 20px 20px 20px 20px;
}
.state-win input[type="text"] {
    position: relative;
    width: 37%;
    background: #fafad2;
    text-align: center;
    font-family: 'Lakki Reddy', cursive;
    font-size: 40px;
    margin: 3px;
}
.body-win {
    background-image: url(/img/580979_staraya_koja.jpg);
    font-family: 'Lakki Reddy', cursive;
}
.body-win form {
    margin-left: 30%;
}
.body-win img {
    width: 50%;
    margin-right: 40px;
}
